trunk/DistributedSystem/DSProject3/db/response_queue.dtd

<!ELEMENT ResponseQueue (Response*)>
<!ELEMENT Response (ResponseID, Exception, AccountName, BookName, Quantity, CreditCardNumber, Payment)>
<!ELEMENT ResponseID (#PCDATA)>
<!ELEMENT Exception (#PCDATA)>
<!ELEMENT AccountName (#PCDATA)>
<!ELEMENT BookName (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>
<!ELEMENT CreditCardNumber (#PCDATA)>
<!ELEMENT Payment (#PCDATA)>
