DistributedSystem/DSProject4/db/request_queue.dtd

<!ELEMENT RequestQueue (Request*)>
<!ELEMENT Request (RequestID, InputAccountName, InputAccountPassword, InputCreditCardNumber, InputBookName, InputQuantity)>
<!ELEMENT RequestID (#PCDATA)>
<!ELEMENT InputAccountName (#PCDATA)>
<!ELEMENT InputAccountPassword (#PCDATA)>
<!ELEMENT InputCreditCardNumber (#PCDATA)>
<!ELEMENT InputBookName (#PCDATA)>
<!ELEMENT InputQuantity (#PCDATA)>
